body {
    background-color: #F7F9FC!important;
}

.profile-column {
    width: 100%;
    height: auto;
}

.profile-column-center {
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.profile-column .profile-banner {
    box-shadow: 0 3px 15px rgb(0, 0, 0, 0.1);
}

.profile-column .profile-banner img {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-position: top;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-column .profile-img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-top: -15%;
    margin-left: 30px;
    margin-bottom: 0;
}

.profile-column .profile-card {
    padding-top: 0!important;
}

.profile-column h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.profile-column p {
    margin: 0;
}

.profile-column p span a {
    color: cornflowerblue!important;
}

.profile-column-center button {
    /* color: white; */
    padding: 5px 20px;
    margin-right: 8px;
    margin-top: 15px;
    font-size: 12px;
    border: 1px solid lightgray;
    border-radius: 20px!important;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.profile-column-center button:hover {
    background-color: lightgrey;
    border: 1px solid gray;
    transition: .3s;
}

.profile-column-center .btn-hight {
    background-color: #092A48!important;
    color: white;
}

.profile-minicard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.profile-minicard .minicard {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.exp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.experience {
    display: flex;
    margin-bottom: 30px;
}

.experience .experience-img {
    width: 30%;
    margin-right: 20px;
    overflow: hidden;
}

.experience .experience-img img {
    width: 80%;
}

.experience .experience-card h6 {
    margin-bottom: 7px;
    color: rgb(0, 0, 0);
}

.experience .experience-card p {
    padding: 0;
    line-height: 1rem;
    font-size: 0.8rem;
}

@media (max-width: 776px) {
    .container {
        padding: 0;
    }
    .profile-column {
        margin: 0;
    }
    .profile-minicard {
        display: inline;
    }
    .profile-minicard .minicard {
        margin-top: 15px;
    }
    .exp {
        display: block;
    }
    .feature {
        overflow: hidden;
        padding: 15px;
    }
    .footer {
        padding: 30px 15px;
    }
}

.profile-gallery {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.profile-gallery img {
    height: 100px;
    width: auto;
    margin: 2px;
}

.banner {
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 15px;
}

@media (max-width: 776px) {
    .profile-flex {
        display: block!important;
        overflow: hidden;
    }
    .profile-column img {
        width: 100px;
    }
    .profile-column-center button {}
    .banner {
        margin-top: 0;
        display: none;
    }
    .profile-gallery {
        display: flex;
    }
    .profile-galery img {
        width: auto;
        margin-left: 0;
    }
}


/* Página de servicios */

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services-list h4 {
    border-bottom: 1px solid gray;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.services-list li {
    list-style: none;
}

@media (max-width: 776px) {
    .services-list {
        display: block;
    }
}

.profesionales {
    box-sizing: border-box;
    overflow: hidden;
}

.profesionales h3 {
    border-bottom: 1px solid gray;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.area {
    margin-bottom: 30px;
}

.cards-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.profesionales .pro-card {
    padding: 15px;
    width: auto;
}

.profesionales .pro-card img {
    width: 50px;
    height: 50PX;
    margin-right: 20px;
    border-radius: 50px;
    border: 2px solid rgb(2, 20, 70);
}

.profesionales .pro-card .text-card {
    align-self: center;
    display: flex;
    width: 100%;
}

.profesionales .pro-card .text-card h6 {
    margin: 0;
}

.profesionales .pro-card .text-card p {
    margin: 0;
}

.profesionales .pro-card .text-card a {
    color: orangered;
    border: 1px solid orangered;
    border-radius: 25px;
    padding: 5px 12px;
    margin: 0;
    margin-left: 20px;
    font-size: 10px;
}

.profesionales .pro-card .text-card a:hover {
    background-color: rgb(172, 48, 3);
    color: white;
}

@media (max-width: 992px) {
    .cards-area {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 776px) {
    .cards-area {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .cards-area button {}
}

.bane {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    background: linear-gradient(to right, #29C7EB, #108ca7);
    padding: 30px;
    border-radius: 5px;
}

.bane h3 {
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    padding: 0;
    text-shadow: 0 0 3px gray;
}

.bane h6 {
    line-height: 1, 2rem;
    color: rgb(60, 60, 60);
    margin: 0;
    margin-bottom: 20px;
}

.bane a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 3px black;
    background-color: orangered;
    padding: 8px 12px;
    border-radius: 5px;
}

.bane a:hover {
    background-color: hsl(16, 100%, 50%, 0.7);
}

.bane .bane-img {
    margin: 0 auto;
}

.bane img {
    height: 150px;
}

@media (max-width:776px) {
    .bane .bane-img {
        display: none;
    }
}

.sidebar {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.solicitar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solicitar a {
    color: gray;
}

.solicitar .solicitar-btn {
    font-size: 14px;
    color: white;
    background-color: #092A48;
    border-radius: 20px;
    padding: 3px 20px;
    padding-top: 6px;
}

.solicitar .solicitar-btn:hover {
    background-color: hsla(209, 78%, 16%, 0.9);
    transition: all 0.2s;
}

.separate {
    border: 0.1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.publicity {
    Width: 100%;
}

.minicard-pro {
    display: flex;
    margin: 20px 0 10px 0;
}

.minicard-pro img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.minicard-pro p {
    font-size: 0.8rem;
}

.minicard-pro button {
    /* color: white; */
    padding: 5px 20px;
    margin-right: 8px;
    margin-top: 5px;
    font-size: 12px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.minicard-pro button:hover {
    background-color: midnightblue;
    color: white;
    transition: 0.3s;
}

.boton-todos {
    /* color: white; */
    padding: 5px 20px;
    margin-right: 8px;
    margin-top: 5px;
    font-size: 12px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: rgb(10, 10, 43);
    font-size: 12px;
    font-weight: 600;
    color: white;
    float: right;
}

@media (max-width: 776px) {
    .minicard-pro img {
        margin-right: 40px
    }
}
